@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
font-family: 'Raleway', sans-serif;
box-sizing: border-box;
margin: 0;
}

body {
    background-color: black;
}

.banner {
    text-align: center;
    
}

.banner-content {
    background-image: url(../images/banner.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid  #31A8DD;
}

.logo {
    margin: auto;
    padding-top: 80px;
    
}

.logo img {
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 50%;
    object-fit: contain;
}

h1 {
    color:  #31A8DD;
    padding: 60px 0 20px 0;
    text-transform: uppercase;
}

p {
    color: white;
    font-size: 1.3em;
    padding: 20px 0 20px 0;
}

.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    background-color: transparent;
    border: 2px solid #3BA1CD;
    border-radius: 50px;
}

.banner .banner-content button:hover {
    background-color: #3ba1cd27;
}

section {
    margin: 100px auto;
}


#course-content {
    width: 800px;
    text-align: center;
}

.modules-list {
    color: white;
    margin: 24px;
    font-size: 1rem;
    padding: 16px 32px;
    background-color: transparent;
}

.modules-list span {
    color: #31A8DD;
}

.module {
    width: 530px;
    padding: 15px;
    margin: 0 auto 24px;
    border: 2px solid #3BA1CD;
    border-radius: 50px;
}

.module:hover {
    background-color: #3ba1cd27;
}

h2 {
    color: #31A8DD;
    text-transform: uppercase;
}

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid  #31A8DD;
    border-bottom: 1px solid  #31A8DD;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
    text-transform: lowercase;
    max-width: 250px; 
    text-shadow: 3px 2px #33A8DB;  
} 

#professional-challenges {
    text-align: center;
    border-bottom: 1px solid  #31A8DD;
}

footer {
    text-align: center;
    font-size: 12px;
}