@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
font-family: 'Raleway', sans-serif;
box-sizing: border-box;
margin: 0;
}

body {
    background-color: black;
}

.banner {
    text-align: center;
    
}

.banner-content {
    background-image: url(../images/banner.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid  #31A8DD;
}

.logo {
    margin: auto;
    padding-top: 80px;
    
}

.logo img {
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 50%;
    object-fit: contain;
}

h1 {
    color:  #31A8DD;
    padding: 60px 0 20px 0;
    text-transform: uppercase;
}

p {
    color: white;
    font-size: 1.3em;
    padding: 20px 0 20px 0;
}

.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    background-color: transparent;
    border: 2px solid #3BA1CD;
    border-radius: 50px;
}

.banner .banner-content button:hover {
    background-color: #3ba1cd27;
}

#course-content {
    height: 500px;
    text-align: center;
    border-bottom: 1px solid  #31A8DD;
}

h2 {
    color: #31A8DD;
    text-transform: uppercase;
}

#transform-world {
    background-image: url(../images/woman-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid  #31A8DD;
}

#transform-world p {
   font-size: 90px;
   color: white;
   text-transform: lowercase;
   text-wrap-mode: wrap;
   width: 500px;
   height: 500px; 
   padding: 200px 0 0 100px;     
} 

#professional-challenges {
    text-align: center;
    border-bottom: 1px solid  #31A8DD;
}

footer {
    text-align: center;
    font-size: 12px;
}